*{
    margin: 0px;
}

div{
    height:100vh;
    width:32.7vw;
} 

.first{
    display: inline-block;
    background-color: orangered;
}
.second{
    display: inline-block;
}
.third{
    display: inline-block;
    background-color: green;
}